doctype html
html
    head
        title Natours
        link(rel='stylesheet', href='css/style.css')
        link(rel='shortcut icon', type='image/png' href='img/favicon.png')

    body
        h1 The heoric entry
        p This is just a try out