doctype html
html
    head
        title Natours
        link(rel='stylesheet', href='css/style.css')
        link(rel='shortcut icon', type='image/png' href='img/favicon.png')

    body
        h1= tour
        h2= user.toUpperCase()
        //-  h1 The heoric entry

        - const x = 5;
        h2= 5 * x
        
        p This is just a try out